<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/wordcount2/src/NBMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="NBMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="hdfs://192.168.10.100:9000/user/Hadoop/BayesData/training-100000.txt&#10;hdfs://192.168.10.100:9000/user/Hadoop/eclipseOutput2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="wordcount2"/>
</launchConfiguration>
