<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/worldcount/src/wordcount/WordMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="wordcount.WordMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="hdfs://192.168.10.100:9000/user/Hadoop/input&#10;hdfs://192.168.10.100:9000/user/Hadoop/eclipseOutput"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="worldcount"/>
</launchConfiguration>
